@model IEnumerable<Shameful_MVC.Models.Assignment>

@{
    ViewBag.Title = "Index";
}
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Name </th>
        <th>Date </th>
        <th>File </th>
    </tr>
    @foreach (var assignment in Model)
    {
        <tr>
            <td>@assignment.Id</td>
            <td>@assignment.Name</td>
            <td>@assignment.Date</td>
            <td>
                <a asp-controller="Assignments" asp-action="Download" asp-route-id="@assignment.Id"> Download </a>
            </td>
        </tr>

    }
</table>  