@model Shameful_MVC.Views.Registration.RegistrationViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Register";
    Layout = null;
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Registration</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <h1>Registration form</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Student.Name" class="control-label"></label>
                        <input asp-for="Student.Name" class="form-control" />
                        <span asp-validation-for="Student.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.MiddleName" class="control-label"></label>
                        <input asp-for="Student.MiddleName" class="form-control" />
                        <span asp-validation-for="Student.MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.LastName" class="control-label"></label>
                        <input asp-for="Student.LastName" class="form-control" />
                        <span asp-validation-for="Student.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.FacultyNumber" class="control-label"></label>
                        <input asp-for="Student.FacultyNumber" class="form-control" />
                        <span asp-validation-for="Student.FacultyNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Password" class="control-label"></label>
                        <input asp-for="Student.Password" class="form-control" />
                        <span asp-validation-for="Student.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.ConfirmPassword" class="control-label"></label>
                        <input asp-for="Student.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Student.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Specialty" class="control-label"></label>
                        <input asp-for="Student.Specialty" class="form-control" />
                        <span asp-validation-for="Student.Specialty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.Year" class="control-label"></label>
                        <select asp-for="Student.Year" asp-items="Model.Years" class="form-control">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="Student.Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Student.FormOfEducation" class="control-label"></label>
                        <select asp-for="Student.FormOfEducation" asp-items="Model.FormOfEducations" class="form-control">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="Student.FormOfEducation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-controller="Registration" asp-action="Create" type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <form method="post">
            <div class="form-group">
                <input asp-controller="Login" asp-action="Index" type="submit" value="Back" class="btn btn-primary" />
            </div>
        </form>
    </body>
</html>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
